body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.playGame-container{
  background:	
	url(../../img/bannerMobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  font-family: "Poppins";
}
.gameTitle{
  padding-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
  text-align: left;
  margin-left: 70px;
}
.pts{
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 50px;
}
.playGame-container h3{
 padding-top: 50px;
 color: white;
 
}
.playGame-container h6{
 margin-top: 80px;
 font-size: 25px;
 color: white;
 font-weight: 500;
 
}
.G-options{
  cursor: pointer;
}
.gameOptions{
  margin-top: -10px!important;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.inCorrectResult, .secondInCorrectResult{
  color: rgb(207, 1, 1);
  font-size: 40px;
  font-weight: 600;
}
.inCorrectResult span, .secondInCorrectResult span{
  color: rgb(207, 1, 1);
  font-size: 50px;
  font-weight: 700;
}
.inCorrectResult h1, .secondInCorrectResult h1{
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
}
.inCorrectResult h5, .secondInCorrectResult h5{
  color: rgb(207, 1, 1);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -40px;
  margin-top: 10px;
}
.inCorrectResult p, .secondInCorrectResult p{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.closeGame{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 30px;
  padding-top: 20px;
}

.timesIcon{
  background-color: rgba(255, 255, 255, 0.507);
  padding: 3px 15px;
  border-radius: 100px;
  color: gray;
  font-size: 30px;
  text-decoration: none;
}
.timesIcon:hover{
  background-color: rgba(255, 201, 201, 0.507);
  color: red;
}



.firstCorrectAns-container, 
.secondCorrectAns-container{
  display: none;
}
.heartIcons{
  margin-bottom: 50px;
}
.heartIcon{
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin: 0 15px;
}
.firstCorrectAns-content{
  color: white;
}


.firstCorrectAnsNext-btn, 
.firstInCorrectAnsNext-btn{
  border: none;
  background-color: rgb(24 15 119);
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  margin-top: 30px;
}
.firstCorrectAnsNext-btn:hover, 
.firstInCorrectAnsNext-btn:hover{
  background-color: rgb(37, 25, 169);
}

.firstInCorrectAnsNext-btn{
  margin: 0 20px;
}

.firstInCorrectAns-container, 
.secondInCorrectAns-container{
  display: none;
}


.game-nextOptions-container{
  display: none;
  color: rgb(215, 24, 24);
  font-size: 40px;
  font-weight: 600;
}
.next_gameOptions1 p{
  color: rgb(195, 16, 58);
  font-size: 20px;
  font-weight: 500;
  margin-top: 60px
}
.next_gameOptions2 p{
  color: rgb(195, 16, 58);
  font-size: 20px;
  font-weight: 500;
  margin-top: 70px
}
.next_gameOptions1, .next_gameOptions2 {
  background:
	linear-gradient(#f4f4f472,#f4f4f472),
    linear-gradient(#f4f4f472,#f4f4f472),	
	url(../../img/photo-1534237710431-e2fc698436d0.jpg) center;
  background-size: cover;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 0 30px;
  text-align: center;
  margin-top: -10px!important;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  cursor: pointer;
  display: none;
}
.or{
  display: none;
}


.gameOver-container{
  display: none;
  color: white;
}

.points{
  background-color: rgba(189, 189, 189, 0.23);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100px;
  margin: auto;
  padding: 10px 0px;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.congratulation{
  background-color: white;
  color: rgb(37, 25, 169);
  height: 100px;
  width: auto;
  display: flex;
}

.progressbar {
  width: 90%;
  margin: auto;
  border: none;
  padding-bottom: 80px;
}

.progressbar .inner {
  height: 2px;
  animation: progressbar-countdown;
  animation-duration: 40s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear;
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: rgb(255, 255, 255);
  }
  100% {
    width: 0%;
    background: rgb(255, 0, 0);
  }
}

#progressbar2{
  display: none;
}