.playGame-container{
  background:	
	url(../../img/bannerMobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  font-family: "Poppins";
}
.playGame-container h3{
 padding-top: 50px;
 color: white;
 
}
.playGame-container h6{
 margin-top: 80px;
 font-size: 25px;
 color: white;
 font-weight: 500;
 
}
.G-options{
  cursor: pointer;
}
.gameOptions{
  margin-top: -10px!important;
}

.correctResult{
  color: rgb(206, 2, 2);
  font-size: 50px;
  font-weight: 600;
  padding-top: 40px;
}