.game-container{
  width: 65vw;
  height: 50vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: aliceblue;
  font-family: "Poppins";
  overflow: hidden;
}
.game-img{
  height: 400px;
  background:
	url(../../img/bannerMobile.svg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.pts-text{
  width: 100px;
  height: 27px;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;

}
.game-img h6{
  margin-top: 130px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.game-content{
  margin-left: 30px;
}
.game-content h3{
  margin-top: 100px;
}
.game-content button{
  border: none;
  background-color: rgb(24 15 119);
  border-radius: 30px;
  color: white;
  padding: 10px 40px;
  margin-top: 20px;
}
.game-content button:hover{
  background-color: rgb(34, 21, 171);
}

.G-options{
  background:
	linear-gradient(#f4f4f472,#f4f4f472),
    linear-gradient(#f4f4f472,#f4f4f472),	
	url(../../img/photo-1534237710431-e2fc698436d0.jpg) center;
  background-size: cover;
  margin-top: 50px !important;
  background-color: aliceblue;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 0 30px;
  text-align: center;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.game-options-container p{
  color: rgb(195, 16, 58);
  font-size: 25px;
  font-weight: 500;
  margin-top: 80px
}