.container{
  font-family: 'Poppins', sans-serif;
  color: gray;
}
.search-container{
  display: flex;
  width: 700px;
  position: relative;
  margin: auto;
}
.title{
  color: rgb(24 15 119);
}
.searchInput{
  width: 100%;
  margin: auto;
  position: relative;
  padding: 14px 20px;
  border-radius: 30px;

}
.search-container button{
  position: absolute;
  right: 0px;
  background-color: rgb(24 15 119);
  border: 1px solid rgb(24 15 119);
  padding: 14px 40px;
  color: rgb(255, 255, 255);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.search-container button:hover{
  background-color: rgb(38, 28, 147);
}

.another-search-link {
  margin-top: 15px;
}
.another-search-link a {
  text-decoration: none;
  color: rgb(124, 16, 50);
  margin: 0px 10px;
  font-size: 14px;
  font-weight: 500;
}
.another-search-link a:hover {
  color: rgb(24 15 119);
}

.Dao-text{
  color: rgb(24 15 119);
}
.Dao-text h5{
  font-weight: 500;
}
.blockchainImg img{
  border-radius: 5px;
}


@media screen and (max-width:1400px) {
  .search-container{
    width: 80%;
  }
}